@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.color-pop{
  font-family: 'Inter', sans-serif;
  color: #706640;
}

.font{
  color: #1E1E1E;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.font-left {
  color: #1E1E1E;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: left;
  float: left;
}

.font-right{
  color: #1E1E1E;
  font-family: 'Inter', sans-serif;
  text-align: right;
  float: right;
  font-weight: 600;
  /* margin-left: 403px; */
}

.wrapper-wrapped{
  
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  background-color: #C0BBA8;
}
.welcome-wrapper{
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.welcome{
  margin-top: 40px;
  padding: 4px;
  background-color: #C0BBA8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation::after {
  font-style: italic;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #706640;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}